*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
}
.mini-nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
.mini-nav span{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mini-nav span h4{
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.mini-nav span img{
    width: 50px;
    background-color: slateblue;
}
.mini-nav ul{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.mini-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
}
.navbar img{
    width: 270px;
}
.navbar ul{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.navbar ul li a{
    font-size: 22px;
    font-weight: 550;
    color: blueviolet;
    text-decoration: none;
}
.hero-section{
    width: 100%;
    height: 550px;
    background-image: url(./images/3);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.hero-section h1{
    font-size: 36px;
    font-weight: 600;
    color: white;
}
.hero-section h3{
    font-size: 32px;
    font-weight: 500;
    color: white;
    padding-top: 70px;
    text-align: center;
}
.hero-section button{
    width: 170px;
    height: 47px;
    border: none;
    background-color: #058CEB;
    color: white;
    font-size: 16px;
    font-weight: 550;
    margin-top: 45px;
}
.hero-section button:hover{
    background-color: cornflowerblue;
}
.section-1{
    width: 100%;
    height: 220px;
    display: flex;
}
.left{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2D9979;
}
.left h1{
    font-size: 30px;
    font-weight: 550;
    color: white;
}
.left h4{
    font-size: 23px;
    font-weight: 500;
    color: white;
    padding-top: 30px;
    text-align: center;
}
.right{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39AB8A;
}
.right input{
    width: 600px;
    height: 65px;
    border: 3px solid green;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
}
.section-2{
    width: 100%;
    height: 800px;
    padding-inline: 8%;
}
.three-box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}
.box{
    width: 380px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.box h1{
    font-size: 23px;
    font-weight: 550;
    color: #058CEB;
}
.box h5{
    font-size: 17px;
    font-weight: 500;
    padding-top: 10px;
}
.section-2 hr{
    width: 100%;
    border: 1px solid black;
    margin-top: 60px;
}
#latest{
   font-size: 20px;
   font-weight: 550;
   color: #575760;
   padding-top: 30px;
}
.all{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
}
.five{
    width: 220px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.blocks{
    width: 190px;
    height: 190px;
    border-radius: 50%;
}
.blocks:first-child{
    background-image: url(./images/a.webp);
    background-position: center;
    background-size: cover;
}
#one{
    background-image: url(./images/b.webp);
    background-position: center;
    background-size: cover;
}
#two{
    background-image: url(./images/c.webp);
    background-position: center;
    background-size: cover;
}
#three{
    background-image: url(./images/d.jpg);
    background-position: center;
    background-size: cover;
}
#four{
    background-image: url(./images/e.png);
    background-position: center;
    background-size: cover;
}
#new{
    font-size: 18px;
    font-weight: 550;
    padding-top: 30px;
    color: #575760;
}
#new1{
    font-size: 15px;
    font-weight: 500;
    padding-top: 30px;
    text-align: center;
    color: blueviolet;
}
.section-3{
    width: 100%;
    height: 340px;
    background-image: url(./images/g);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section-3 span{
    width: 52%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-3 span h3{
    font-size: 19px;
    font-weight: 600;
}
.section-3 span h1{
    font-size: 32px;
    font-weight: 500;
    color: white;
    padding-top: 20px;
}
.section-3 span h5{
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-top: 15px;
}
.section-3 span button{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #058CEB;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
}
.section-3 ul{
    width: 20%;
    height: auto;
    list-style: none;
}
.section-3 ul li{
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-top: 10px;
}
.section-3 ul li:first-child{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
#soft{
    background-image: url(./images/stoftw-campaign_footer-1.jpg);
    background-position: center;
    background-size: cover;
}
.footer{
    width: 100%;
    height: 420px;
    background-color: #26272B;
    display: flex;
    align-items: start;
    justify-content: center;
}
.footer ul{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    list-style: none;
    padding-top: 60px;
    padding-inline: 8%;
}
.footer ul li img{
    width: 300px;
}
.footer ul li{
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-top: 15px;
}
.footer ul li:first-child{
    padding-bottom: 15px;
    color: blueviolet;
    font-size: 18px;
    font-weight: 550;
}

@media (max-width:768px) {
    .container{
        width: 100%;
        height: auto;
    }
    .mini-nav{
        display: none;
    }
    .navbar{
        width: 100%;
        height: 110px;
        flex-direction: column;
        padding-block: 10px;
        border: none;
    }
    .navbar ul{
        width: 70%;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    .hero-section{
        width: 100%;
        height: 620px;
    }
    .hero-section h1{
        font-size: 25px;
        /* padding-bottom: 10px; */
    }
    .hero-section h3 br{
        display: none;
    }
    .hero-section h3{
        font-size: 24px;
        font-weight: 550;
        text-align: center;
        padding-top: 270px;
    }
    .section-1{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 220px;
        padding-inline: 15px;
    }
    .left h1{
        font-size: 22px;
    }
    .left h4 br{
        display: none;
    }
    .left h4{
        font-size: 20px;
    }
    .right{
        width: 100%;
        height: 180px;
        padding-top: 10px;
        padding-inline: 15px;
    }
    .right input{
        width: 100%;
    }
    .section-2{
        width: 100%;
        height: auto;
        padding-inline: 20px;
    }
    .three-box{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .box{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .all{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .five{
        width: 100%;
        height: auto;
    }
    .blocks{
        margin-top: 30px;
    }
    .section-3{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-block: 50px;
        padding-inline: 20px;
    }
    .section-3 span{
        width: 100%;
        height: auto;
    }
    .section-3 span h1{
        font-size: 28px;
    }
    .section-3 span h5 br{
        display: none;
    }
    .section-3 span .blocks{
        display: none;
    }
    .section-3 ul{
        width: 100%;
        height: auto;
        padding-top: 30px;
    }
    .footer{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-inline: 0;
        padding-block: 30px;
    }
}